@import '../../../@theme/styles/themes';
$shadow-green: #00977e;
@include nb-install-component() {
    .progress-info {
        color: nb-theme(color-fg-heading);
        margin-top: 2.0rem;
        &:first-child {
            margin-top: 0;
        }
    }
    .title {
        font-family: nb-theme(font-secondary);
        font-size: nb-theme(font-size-lg);
        font-weight: nb-theme(font-weight-bold);
    }
    .title-config-etat {
        color: #73a1ff;
    }
    .title-infos-maj {
        font-style: normal;
    }
    .value {
        font-size: 3rem;
        font-weight: nb-theme(font-weight-light);
        margin-top: 0.5rem;
    }
    .description {
        color: nb-theme(color-fg);
        margin-top: 0.5rem;
    }
    nb-progress-bar~nb-progress-bar {
        margin-top: 1rem;
    }
    .text-link {
        color: nb-theme(color-primary);
        font-size: 2rem;
        margin-left: 0.5rem;
    }
    .description-link {
        color: nb-theme(color-primary);
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }
    .animated.fadeIn.anim-section-etat {
        animation-delay: 0.5s;
    }
    .refresh {
        position: absolute;
        right: 5%;
        top: 0.5%;
    }
}